body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #2193b0;  /* fallback for old browsers */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.wrapper{
    background-color: #2193b0;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    margin: auto;
    margin-top: 150px;
}
h1 {
    padding-top: 20px;
    color: #fff;
}

#password {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
#generate-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #6dd5ed;
    color: #fff;
}
